@import './_settings';

html,
body {
  height: 100%;
}

#wrap {
  min-height: 100%;
}

#main {
  overflow: auto;
  padding-bottom: $footer-height;
}

.page {
  padding-top: 2rem;
}

h1 {
  margin-bottom: 2rem;
}

.icons-list {
  .fas,
  .fab {
    width: 20px;
  }

  a {
    .fas,
    .fab {
      color: initial;
    }
  }
}

.portfolio-image {
  display: flex;
  align-items: center;
}

.popup-link {
  display: inline-block;
  margin-bottom: 0.5rem;
}

footer {
  position: relative;
  height: $footer-height;
  margin-top: -$footer-height;
  background-color: $header-color;
  color: $white;

  p {
    margin-bottom: 0;
    padding: 1rem;
  }
}
