<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link href="https://fonts.googleapis.com/css?family=Bitter:400,700" rel="stylesheet">
    <link rel="stylesheet" href="{{ '/assets/css/motion-ui.min.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/magnific-popup.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  </head>
  <body>
    {% include_relative _layouts/header.html %}
    <div class="content">
      {{ content }}
    </div>
    {% include_relative _layouts/footer.html %}
    {% include_relative _layouts/scripts.html %}
  </body>
</html>
